.rating {
    padding: 25px 50px 75px;
}

.rating__down {
    margin-top: 10px;
}

.rating__number {
    margin-top: 10px;
}

.side_tags {
    font-size: 25px;
    color: gray;
    font-family: "Gill Sans", sans-serif;
    
}

a.navbar-brand {
    color: white;
}

.img-line {
    margin-left: 30px;
}

/* .line {
    margin-top: -40px;
    margin-bottom: 40px;
} */

.line2 {
    margin-top: 90px;
    /* margin-bottom: 40px; */
}

.page-name {
    color: white;
    
}
.page-name:hover {
    color: white;
    text-decoration: none;
}

.avatar {
    border: 2px solid;
}